.container > p {
  text-align: center;
  font-weight: 700;
}

.container > section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container > section > div {
  display: flex;
  justify-content: space-between;
}
.set_languge {
  display: grid;
  width: 90px;
  grid-template-columns: repeat(2, 1fr);
}
