.container {
  position: relative;
  height: 100%;
  text-align: center;
}

.ratingTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.ratingTable > p:nth-child(3) {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  text-align: center;
}

.container > p {
  font-weight: 700;
  padding-bottom: 0.8rem;
}
.container > span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: var(--font-size-s);
}

.circle {
  display: block;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.good {
  background: var(--green);
}
.NI {
  background: var(--yellow);
}
.poor {
  background: var(--red);
}
