.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.container > p {
  grid-column: span 3;
  font-weight: 700;
  padding-bottom: 0.8rem;
}

.circle {
  display: inline-block;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
}
