.container {
  overflow: hidden;
}

.categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 2rem;
  overflow-x: auto;
}

.ctButtonActive {
  background: var(--color-black-900);
  border-top: 1px solid var(--color-black-400);
}
.ctButtonDeactive {
  background: var(--background);
  border-top: 1px solid transparent;
}

.categories li > button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.categories li:first-child > button {
  border-radius: 0 16px 0 0;
}

.categories li:not(:first-child):not(:last-child) > button {
  border-radius: 16px 16px 0 0;
}
.categories li:last-child > button {
  border-radius: 16px 0 0 0;
}

.categories li > button:hover {
  background: var(--color-black-900);
  border-top: 1px solid var(--color-black-400);
}

.ctIcon {
  width: auto;
  height: 18px;
}

.itemsContainer {
  background: var(--color-black-900);
  padding: 1rem;
}

.show_items {
  display: block;
}

.show_items > ul li {
  animation: cardPopUp 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes cardPopUp {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(20px);
  }
  70% {
    opacity: 1;
    transform: scale(1.03) translateY(-4px); /* Efek overshoot: membesar sedikit */
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); /* Kembali ke ukuran asli */
  }
}

.items {
  margin-top: 1rem;
  font-size: var(--font-size-m);
  border-radius: 16px;
  padding: 1rem;
  position: relative;
}
.items > p:first-of-type {
  font-weight: 700;
  text-align: left;
}

.items > p:nth-child(2) {
  margin-top: 0.2rem;
  text-align: left;
}

.items > ul {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.items > ul li {
  background: var(--color-black-400);
  border: 1px solid var(--background);
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.itemIcon {
  width: auto;
  height: 50px;
}

.gray {
  filter: sepia(30%) saturate(150%) brightness(75%);
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}
.items > ul li:hover .gray {
  filter: sepia(0%) saturate(100%) brightness(100%);
}

@media (width <= 720px) {
  .categories {
    overflow-x: auto;
    min-height: 0;
  }
  .categories li {
    min-width: 180px;
  }
}

@keyframes item-enter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
