.container {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

@media (width <= 960px) {
  .container {
    bottom: 1rem;
    left: 1rem;
  }
}
