.btn {
  font-size: var(--font-size-m);
  cursor: pointer;
  display: inline-block;
}

.secondary {
  background: var(--primary);
  color: var(--color-black-900);
  font-family: var(--text-heading);
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid var(--color-orange-200);
  box-shadow: var(--shadow-button);
  transition: all 0.2s ease-in;
}

.primary {
  font-weight: 700;
  font-family: var(--text-body);
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

.btn:hover {
  color: var(--color-white);
}

.primary:hover {
  background: var(--color-black-400);
}

.primary:active {
  scale: 0.9;
}

.secondary:active {
  scale: 1;
}
