@import 'tailwindcss';

:root {
  --background: #100f10;
  --foreground: #999991;
  --primary: #f4721e;
  --secondary: #5fb6c7;

  --white-200: #b6b6b4;
  --white-100: #f0f0f0;
  --black-400: #1d1b1d;
  --black-900: #141214;

  --orange-200: #f09b50;
  --orange-400: #b45010;

  --font-size-l: 1.25rem;
  --font-size-m: 0.875rem;
  --font-size-sl: 0.75rem;
  --font-size-s: 0.6875rem;
  --font-size-ss: 0.5rem;

  --text-heading: var(--font-monteserrat);
  --text-body: var(--font-confortana);
  --font-height-l: 22px;

  --shadow-button: 0 4px 0 var(--orange-400);

  --radius: 16px;

  /* other colors */
  --blue: #428ef1;
  --blue-bg: #0c2143;
  --green: #7dcd3f;
  --green-bg: #1e3c1b;
  --purple: #a36ff3;
  --purple-bg: #2d1f5a;
  --yellow: #fcd041;
  --yellow-bg: #48350d;
  --red: #f4493e;
  --red-bg: #4f1214;
  --cyan: #4fd1e1;
  --cyan-bg: #0f3b44;
  --pink: #f260a5;
  --pink-bg: #43162d;
  --gray: #c4cbd4;
  --gray-bg: #293039;
}

body {
  background: var(--background);
  color: var(--foreground);
  color-scheme: dark;
  font-family: var(--font-confortana);
}

@theme {
  --font-heading: var(--font-monteserrat);
  --font-body: var(--font-confortana);
  --text-body: var(--font-size-m);
  --color-brown: var(--background);
  --color-grey: var(--foreground);
  --color-white: var(--white-100);
  --color-white-200: var(--white-200);
  --color-black-400: var(--black-400);
  --color-black-900: var(--black-900);
  --color-orang-200: var(--orange-200);
  --color-orang-400: var(--orange-400);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --shadow-button: 0 4px 0 var(--orange-400);
}

.flex-center {
  @apply flex items-center justify-center;
}

.maxwidth {
  @apply mx-auto  max-w-[1240px];
}

.pixelated {
  image-rendering: pixelated;
}
