.container {
  position: relative;
}

.wActive {
  width: 440px;
  height: 250px;
}
.wDeactive {
  width: 50px;
  height: 35px;
  cursor: pointer;
}

.wrapper {
  position: relative;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-white-200);
  border-radius: 4px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.wrapper .topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-white-200);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.topbar .wIcon {
  position: absolute;
  top: 0;
  left: 0;
  transition: translate 0.5s ease-in-out;
}

.topbar .wIcon span {
  animation: blink 2s infinite;
}

.topbar .iDeactive {
  color: var(--color-white-200);
  translate: 85% 25%;
}
.topbar .iActive {
  color: var(--background);
  translate: 75% 0%;
}
.panelCt {
  position: absolute;
  inset: 0;
  padding: 1.4rem 0 0 0;
  opacity: 1;
}

.fadeIn {
  animation: fadein 0.8s ease-in-out;
}

.panelCt > button {
  position: absolute;
  top: 0;
  right: 0.7rem;
  color: var(--red-bg);
  z-index: 2;
}
.panelCt > button:hover {
  transform: scale(1.1);
}

.categories {
  position: absolute;
  top: 1.3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.categories li {
  color: var(--color-white-200);
}

.categories li:not(:first-child):not(:last-child) {
  border-radius: 0px 0 16px 16px;
}

.categories li:first-child {
  border-radius: 0px 0 16px 0;
}
.categories li:last-child {
  border-radius: 0px 0 0 16px;
}

.categories li button {
  width: 100%;
  padding: 0.3rem;
}

.categories li:hover {
  background: var(--color-white-200);
  color: var(--background);
}

.categories .active {
  background: var(--color-white-200);
  color: var(--background);
}

.items {
  position: absolute;
  inset: 0;
  margin-top: 1rem;
  padding: 3rem 1rem 1rem 1rem;
  font-size: var(--font-size-m);
  overflow-y: auto;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@media (width <720px) {
  .wActive {
    width: calc(100vw - 2rem);
    height: 250px;
  }
  .wDeactive {
    width: 44px;
    height: 35px;
  }

  .topbar .iDeactive {
    translate: 80% 35%;
  }
  .topbar .iActive {
    translate: 75% 0%;
  }
}
