.toastContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: -5rem;
  background: var(--white-200);
  border: 1px solid var(--color-black-400);
  font-size: var(--font-size-s);
  font-weight: 700;
  color: var(--color-black-400);
  padding: 0.5rem 1rem;
  border-radius: 16px;
  animation: toastAnim 4s cubic-bezier(0.16, 1, 0.3, 1);
}

.toastContainer span {
  position: relative;
}

.toastContainer img {
  image-rendering: pixelated;
  width: auto;
  height: 22px;
}

@keyframes toastAnim {
  0% {
    bottom: -5rem;
    opacity: 1;
  }
  70% {
    bottom: 5rem;
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 5rem;
  }
}
