.navbar {
  position: fixed;
  top: 0;
  background: var(--background);
  width: 100%;
  z-index: 1000;
}

.container {
  margin: auto;
  padding: 1.2rem 2rem;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media (width <= 720px) {
  .container {
    padding: 1.2rem 0.5rem;
  }
  .container > a img {
    margin-left: 1rem;
  }
}
